---
template: /templates/api.template
--- name:sidebar pipeline:erb
<%
rdoc_object = context.node.node_info[:rdoc_object]
api = context.node.node_info[:api]
%>
<h4>Class And Modules</h4>
<ul>
<% rdoc_object.store.all_classes_and_modules.sort.each do |entry| %>
<li><%= context.dest_node.link_to(api.class_nodes[entry.full_name], context.dest_node.lang, 'link_text' => entry.full_name) %></li>
<% end %>
</ul>
