content_processor:
  kramdown.options:
    :coderay_line_numbers: ~
  erb.trim_mode: '%'

content_processor.tikz:
  transparent: true
  resolution: 288 96

website.base_url: http://webgen.gettalong.org

node_finder.option_sets:
  auto_nav_links:
    alcn: /documentation/**/*.en.html
    sort: true
    not:
      alcn:
        - /documentation/reference/api/**/*.en.html
        - /documentation/**/index.en.html
        - /documentation/reference/extensions/content_processor.en.html
        - /documentation/reference/extensions/path_handler.en.html
        - /documentation/reference/extensions/source.en.html
        - /documentation/reference/extensions/tag.en.html
        - /documentation/reference/extensions/destination.en.html
        - /documentation/reference/extensions/item_tracker.en.html
