---
template: extensions.template
--- name:table-infos pipeline:erb
<tr><th>Short name</th><td><%= h(context[:data][:name]) %></td></tr>
<tr><th>Content type</th><td><%= h(context[:data][:type]) %></td></tr>
<% unless context[:data][:extension_map].empty? %>
<tr><th>Extension mapping</th><td><code><%= h(context[:data][:extension_map]) %></code></td></tr>
<% end %>
