--- pipeline:erb,tags,blocks
<h1>{title:}</h1>

<% data = context.destination_info(context.node['title']) %>

<table class="table table-bordered table-reference">
  <tbody>
    <tr><th>Summary</th><td><%= h(data['summary']) %></td></tr>
    <tr><th>Short name</th><td><%= h(data[:name]) %></td></tr>
    <tr><th>Author</th><td><%= h(data['author']) %></td></tr>
    <tr><th>Provided by bundle</th><td><%= h(data['bundle']) %></td></tr>
  </tbody>
</table>

<webgen:block name="content" />
