@charset "UTF-8";

@import "opensans";
@import "/font-awesome";
@import "/foundation/normalize";
@import "/foundation/variables";

$bg-color: #202f4e;
$theme-green: #27603d;

$primary-color: #2e7eaa;
$secondary-color: #dfdfdf;

$base-font-size: 14px;
$em-base: $base-font-size;
$header-font-family: 'OpenSans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$header-font-weight: normal;
$paragraph-font-family: $header-font-family;
$anchor-font-color-hover: darken($primary-color, 10%);
$list-side-margin: emCalc(20px);
$blockquote-padding: emCalc(9px) emCalc(20px) emCalc(9px) emCalc(19px);

$topbar-breakpoint: emCalc(600px);
$topbar-bg: rgba(0,0,0,0);
$topbar-dropdown-bg: $topbar-bg;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-hover: $primary-color;

$crumb-slash: "→";
$crumb-font-transform: none;
$crumb-radius: 0;

$side-nav-font-size: emCalc($base-font-size);

@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/type",
  "foundation/components/top-bar",
  "foundation/components/breadcrumbs",
  "foundation/components/panels",
  "foundation/components/side-nav",
  "foundation/components/tables";
//  "foundation/components/block-grid",
//  "foundation/components/buttons",
//  "foundation/components/forms",
//  "foundation/components/custom-forms",
//  "foundation/components/button-groups",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/split-buttons",
//  "foundation/components/flex-video",
//  "foundation/components/section",
//  "foundation/components/orbit",
//  "foundation/components/reveal",
//  "foundation/components/joyride",
//  "foundation/components/clearing",
//  "foundation/components/alert-boxes",
//  "foundation/components/keystrokes",
//  "foundation/components/labels",
//  "foundation/components/inline-lists",
//  "foundation/components/pagination",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/sub-nav",
//  "foundation/components/switch",
//  "foundation/components/magellan",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
//  "foundation/components/dropdown";


@mixin white-colored {
    color: white;

    h1,h2,h3,h4,h5,h6,p { color: white; }
    h1 small { color: darken($secondary-color, 10%); }
}


body {
    background: $primary-color url("images/hexagon.png");
}

.contain-to-grid {
    background: rgba(0,0,0,0.7);
}

body > section {
    &, .row {
        background-color: white;
    }
}

body > footer {
    @include white-colored;
    background: rgba(0,0,0,0.7);

    padding-top: 10px;

    .side-nav {
        padding: 0;

        a:hover {
            color: darken($side-nav-link-color, 10%);
        }
    }
}

.hero-unit {
    @include panel(rgba($primary-color, 0.7), $panel-padding, false);
    @include white-colored;
    margin-bottom: 0;
    a, a:visited { color: darken($secondary-color, 30%); }
    a:hover { color: darken($secondary-color, 50%); }
}

dd {
    margin-left: $list-side-margin;
}

ul li ol, ul li ul {
    margin-bottom: $paragraph-margin-bottom;
}

kbd {
    font-weight: bold;
}

pre {
    line-height: 1.6;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.8em 0 0.8em 0.8em;
    margin-bottom: emCalc(20px);
}

blockquote > :last-child {
    margin-bottom: 0;
}

/////////////////////////////////////////////
// Custom


.library-needed, .warning {
    border-left: 5px solid $alert-color;
}

.information {
    border-left: 5px solid $theme-green;
}

.tip {
    border-left: none;
    position: relative;
    padding-left: $h1-font-size;

    &:before {
       content: "\f0eb";
       font-family: FontAwesome;
       font-size: $h1-font-size;
       color: $theme-green;
       position: absolute;
       left: 0;
       top: 0;
       margin-right: 10px;
     }
}

.index-page h3 {
    text-align: center;
}

ul.you-are-here {
    list-style-type: disc;

    ul {
        list-style-type: disc;
    }
}

.prompt {
    color: #aaa;
}

.table-reference {
    width: 100%;

    th {
        width: 14em;
    }
}
