/////////////////////////////////////////////
// Bootstrap
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

$baseFontFamily: "Open Sans", 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !default;
$headingsFontFamily: "Open Sans", 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !default;
$headingsFontWeight: normal !default;

@import "/bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "/bootstrap/mixins";
@import "/bootstrap/reset";

// Grid system and page structure
@import "/bootstrap/scaffolding";
@import "/bootstrap/grid";
@import "/bootstrap/layouts";
@import "/bootstrap/wells";

// Base CSS
@import "/bootstrap/type";
@import "/bootstrap/code";
@import "/bootstrap/tables";

// Components: common
@import "/font-awesome";

// Components: Buttons & Alerts
@import "/bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "/bootstrap/navs";
@import "/bootstrap/breadcrumbs";

// Components: Misc
@import "/bootstrap/hero-unit";

// Utility classes
@import "/bootstrap/utilities"; // Has to be last to override when necessary


@import "/bootstrap/responsive-768px-979px";
@import "/bootstrap/responsive-767px-max";
@import "/bootstrap/responsive-navbar";





/////////////////////////////////////////////
// Custom


.library-needed {
  @extend .alert;
  @extend .alert-block;
  @extend .alert-error;
}

.information {
  @extend .alert;
  @extend .alert-block;
  @extend .alert-info;
}

.warning {
  @extend .alert;
  @extend .alert-block;
}


@mixin radial-gradient($innerColor, $outerColor, $pos, $style) {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, $pos, 0, $style, 460, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient($pos, $style, $innerColor, $outerColor);
  background-image: -moz-radial-gradient($pos, $style, $innerColor, $outerColor);
  background-image: -o-radial-gradient($pos, $style, $innerColor, $outerColor);
  background-repeat: no-repeat;
}

$dark-background: #202f4e;
$dark-background-color: #eee;

$body-color: #e0e0e0;
$content-color: #f0f0f0;
$breadcrumb-color: #f8f8f8;

body {
    padding: 0px;
    min-width: 310px;
    background-color: $body-color;
}

body > header {
    @include radial-gradient(lighten($dark-background, 10%), $dark-background, center center, ellipse cover);

    .slogan {
        margin-left: 5px;
        padding-left: 90px;
        background: url(relocatable("../images/webgen_logo.png")) 0px 7px no-repeat;
        color: $dark-background-color;

        h1 {
            margin-bottom: 0px
        }
        h2 {
            margin-top: 0px;
            font-size: 160%;
            font-styel: italic;
            @include text-overflow();
        }
    }
}

body .hero-unit {
    @include radial-gradient(lighten($dark-background, 10%), $dark-background, center center, ellipse cover);
    color: $dark-background-color;
    margin-bottom: 0px;
    border-bottom: 2px solid lighten($dark-background, 5%);
    @include border-radius(0px);
    padding: 10px;
}

body > nav {
    background-color: $dark-background;
    color: $dark-background-color;

    .main-navigation {
        a {
            color: $dark-background-color;
            font-size: 120%;
            &:hover {
                color: $dark-background-color;
                text-decoration: none;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        li {
            display: inline-block;
            list-style-type: none;

            a {
                display: block;
                padding: 0.5em 1em 0.5em 1em;
                font-size: 120%;
                color: $dark-background-color;
            }
            &.active a, a:hover {
                background-color: $dark-background-color;
                text-decoration: none;
                color: $dark-background;
            }
        }
    }
}

body > section {
    background-color: $content-color;
    padding-bottom: 1em;
}

body > footer {
    border-top: 3px darken($body-color, 5%) solid;
    padding-top: 10px;
}


aside.sidebar h4 {
    margin-top: 20px;
}
aside.sidebar h4:first-of-type {
    margin-top: 0px;
}


@media (max-width: 767px) {
    .container {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.breadcrumb {
    @include border-radius(0);
    background-color: $breadcrumb-color;
    h1 {
        margin: 0;
        padding-left: 10px;
    }
}


/* Custom adpations and classes*/

.index-page h3 {
    text-align: center;
}

.index-page > div {
    margin-top: 10px;
}

dd {
    margin-left: 3em;
}
dt + dd, dd + dd {
    margin-bottom: 1ex;
}

kbd {
    font-weight: bold;
}

.prompt {
    color: #aaa;
}

.nowrap {
    white-space: nowrap;
}

.table-reference {
    width: 100%;
}


/*
.content h3 {
    border-bottom: 1px solid $grayLight;
}
*/

.content h2, .content h3 {
    margin: $baseLineHeight 0 ($baseLineHeight / 2);
}
