<!doctype html>
<html lang="{lang:}" class="no-js">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="author" content="Thomas Leitner &lt;t_leitner@gmx.at&gt;" />
    <meta name="DC.creator" content="Thomas Leitner" />
    <meta name="DC.title" content="webgen homepage" />
    <meta name="Copyright" content="&copy; 2004-2013 Thomas Leitner" />
    <meta name="dcterms.rights" content="&copy; 2004-2013 Thomas Leitner" />

    <meta name="keywords" content="webgen, static web site generator, static website generator, static site generator, ruby, HTML, dynamic tags, extensible, static web, web generator, site generator" />
    <meta name="generator" content="webgen - https://webgen.gettalong.org" />
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{relocatable: css/design.css}" type="text/css" />
    <link rel="alternate" href="{relocatable: news.atom}" type="application/atom+xml" title="webgen news feed" />
    <script src="{relocatable: javascripts/foundation/vendor/custom.modernizr.js}" type="text/javascript" ></script>
    <script src="{relocatable: javascripts/foundation/vendor/jquery.js}" type="text/javascript" ></script>

    <title>{title:} | webgen - static website generator</title>
  </head>

  <body>
    <div class="contain-to-grid">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="{relocatable: /}"><img src="{relocatable: css/images/logo.png}" alt="webgen logo" />
                webgen
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          {menu: {options: {mi: {main_menu: true}, flatten: true, sort: main_sort}, css_class: left, item_selected_class: active, item_submenu_inhierarchy_class: active}}
        </section>
        <div class="right show-for-medium-up">
          {tipue_search: {path: /site_data.js, options: {mode: static, liveDescription: '#main_content'}, entries: {alcn: /**/*.en.html}}}
          <script type="text/javascript">
            $(document).ready(function() {
              $('#tipue_search_input').keyup(function(event) {
                    if(event.keyCode == '27')
                    {
                         $('#tipue_search_content').hide();
                    }
               });
            });
          </script>
        </div>
      </nav>
    </div>

    <% if context.node.blocks.has_key?('herounit') %>
    <div class="row hero-unit">
      <webgen:block name="herounit" node="first" />
    </div>
    <% end %>

    <% if context.node.alcn == '/index.en.html' %>
    <section style="background-color: white">
      <div id="main_content"><webgen:block name="content" /></div>
    </section>
    <% else %>
    <section class="row">
        <div class="breadcrumbs">{breadcrumb_trail: {separator: '', end_level: -2}} &#8628;</div>
        <div class="large-8 columns content">
          <% unless context.node.alcn.start_with?('/documentation/reference/api') %>
          <h1>{title:}</h1>
          <% end %>
          <div id="main_content"><webgen:block name="content" node="first" /></div>
        </div>

        <aside class="large-4 columns sidebar">
          <h2 class="hide-for-medium-up">Sidebar</h2>
          <% if !context.content_node.children.empty? %>
          <h4>Contents</h4>
          <% end %>
          {menu: {options: {descendants: true, levels: [2, 10]}}}

          <webgen:block name="sidebar" notfound="ignore" node="first" />

          <h4><i class='icon-heart'></i> Support webgen</h4>
          <webgen:block name="content" chain="donation.template" />

          <h4>Sponsors</h4>

          <p>GROSSWEBER provides <a href="http://grossweber.com/b/webgen" target="_blank">software
              development consulting and training services</a>. <em>We like to work on open source. We use it heavily.
              We love webgen!</em></p>

          <h4>Page source</h4>

          <p>You can view
            the <a href="http://github.com/gettalong/webgen-website/tree/master/src<%= context.node.node_info[:path]
                         %>">source file</a> for this page in
            the <a href="http://github.com/gettalong/webgen-website">webgen-website repository</a>
            on Github.</p>
          <p>If you find an error, please
            <a href="http://github.com/gettalong/webgen-website/issues">report</a>
            it - thanks!
          </p>
        </aside>

    </section>
    <% end %>


    <footer>
      <div class="row">
        <div class="large-6 small-6 columns">
          <ul class="side-nav">
            <li><a href="http://github.com/gettalong/webgen/issues"><i class="icon-cogs"></i> Feature and bug trackers</a></li>
            <li><a href="http://github.com/gettalong/webgen"><i class="icon-github"></i> Code and Wiki</a></li>
            <li><a href="https://github.com/gettalong/webgen/releases"><i class="icon-download-alt"></i> Downloads</a></li>
          </ul>
        </div>

        <div class="large-6 small-6 columns">
          <p>
            <span itemscope itemtype="http://schema.org/Person" id="webgen-author">
              &copy; 2004-2018 <span itemprop="name">Thomas Leitner</span>
              <i class='icon-envelope'></i>&nbsp;<a href="mailto:t_leitner@gmx.at" itemprop="email" rel="me">t_leitner@gmx.at</a>
              | <i class="icon-twitter"></i>&nbsp;<a href="http://twitter.com/_gettalong" rel="me">@_gettalong</a><br />
            </span>
            <a href="https://gettalong.org/legal.html">Legal Notice</a> | <a href="https://gettalong.org/privacy.html">Privacy Policy</a><br />
            Generated by <a href="https://webgen.gettalong.org">webgen</a>
            | Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            | Valid <a href="http://validator.w3.org/check/referer">HTML5</a>
          </p>
          <p>Page last changed at: {date:}</p>
        </div>
      </div>
    </footer>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.gettalong.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.gettalong.org/piwik.php?idsite=5&amp;rec=1" style="border:0;" alt="" /></p></noscript>

    <script>
      document.write('<script src='
      + ('__proto__' in {} ? '{relocatable: javascripts/foundation/vendor/zepto.js}' : '{relocatable: javascripts/foundation/vendor/jquery.js}')
      + '><\/script>');
    </script>
    <script src="{relocatable: javascripts/foundation/foundation.js}"></script>
    <script src="{relocatable: javascripts/foundation/foundation.topbar.js}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
